﻿@model Telerik.Sitefinity.Frontend.Mvc.Helpers.ViewModels.PagerViewModel
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;

<div class="mu-pagination">
    <nav>
        <ul class="pagination">
            @if (Model.CurrentPage > 1)
            {
                <li>
                    <a href="@String.Format(Model.RedirectUrlTemplate, Model.CurrentPage - 1)" aria-label="Previous">
                        <span class="fa fa-angle-left"></span> @Html.Resource("PreviousPage","CourseResources")
                    </a>
                </li>
            }
            else
            {
                <li class="disabled">
                    <a href="#" aria-label="Previous">
                        <span class="fa fa-angle-left"></span> @Html.Resource("PreviousPage", "CourseResources")
                    </a>
                </li>
            }

            @foreach (var page in Model.PagerNodes.OrderBy(x => x.PageNumber))
            {
                if (Model.CurrentPage == page.PageNumber)
                {
                    <li class="active page-item">
                        <a aria-current="true" href="@String.Format(Model.RedirectUrlTemplate, page.PageNumber)" aria-label="@Html.Resource("Page") @page.PageNumber">@page.PageNumber</a>
                    </li>
                }
                else
                {
                    <li>
                        <a href="@String.Format(Model.RedirectUrlTemplate, page.PageNumber)" aria-label="@Html.Resource("GoToPage") @page.PageNumber">@page.PageNumber</a>
                    </li>
                }
            }

            @if (Model.CurrentPage < Model.TotalPagesCount)
            {
                <li>
                    <a href="@String.Format(Model.RedirectUrlTemplate, Model.CurrentPage + 1)" aria-label="Next">
                        @Html.Resource("NextPage", "CourseResources") <span class="fa fa-angle-right"></span>
                    </a>
                </li>
            }
            else
            {
                <li class="disabled">
                    <a href="#" aria-label="Next">
                        @Html.Resource("NextPage", "CourseResources") <span class="fa fa-angle-right"></span>
                    </a>
                </li>
            }
        </ul>
    </nav>
</div>