﻿@model Varsity.SitefinityWebApp.Mvc.Models.ExampleModuleViewModel
@using Telerik.Sitefinity.UI.MVC;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;

<section class="example-module">
    <div class="container">
        <div class="row">
            <div class="col-md-12 m-t-25 m-b-25">
                <div class="page-title">
                    <div class="title_left">
                        <h3>
                            @Html.Resource("ExampleModule","ExampleModuleResources")
                            <small> @Html.Resource("CreateExampleModule", "ExampleModuleResources")</small>
                        </h3>
                    </div>
                </div>
                <div class="main-content">
                    @using (Html.BeginFormSitefinity("Create", "ExampleModule", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-horizontal">
                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.Label(Html.Resource("FirstName","ExampleModuleResources"), htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", @required = "true" } })
                                    @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.Label(Html.Resource("LastName","ExampleModuleResources"), htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control", @required = "true" } })
                                    @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.Label(Html.Resource("Email","ExampleModuleResources"), htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @required = "true", @email = "true" } })
                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.Label(Html.Resource("Address","ExampleModuleResources"), htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control"} })
                                    @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.Label(Html.Resource("Birthday","ExampleModuleResources"), htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    <div class="input-group date" id="datetimepicker">
                                        @Html.EditorFor(model => model.Birthday, new { htmlAttributes = new { @class = "form-control", @required = "true" } })       
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                    @Html.ValidationMessageFor(model => model.Birthday, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.Label(Html.Resource("Country","ExampleModuleResources"), htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.DropDownListFor(model => model.CountryId, new SelectList(Model.Countries, "CountryId", "Title"), Html.Resource("Select","ExampleModuleResources"), new { @class = "form-control", @required = "true" })
                                    @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })

                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-4 col-md-3 col-xs-6">
                                    <input type="submit" value="@Html.Resource("Save","ExampleModuleResources")" class="btn btn-primary col-md-12 col-xs-12" />
                                </div>
                                <div class="col-md-3 col-xs-6">
                                    <a href="@Url.Action("Index","ExampleModule")" class="btn btn-danger col-md-12 col-xs-12">@Html.Resource("Cancel","ExampleModuleResources")</a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>


<script type="text/javascript">
    $(function () {
        $('#datetimepicker').datetimepicker();
    });
</script>



