﻿@model Telerik.Sitefinity.Frontend.Mvc.Models.ContentDetailsViewModel
@using Telerik.Sitefinity.Frontend.DynamicContent.Mvc.Helpers
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Libraries.Model
@using Telerik.Sitefinity.Modules.Libraries
@using Telerik.Sitefinity.Web.DataResolving;

<div class="mu-course-container mu-course-details @Model.CssClass">
    <div class="row">
        <div class="col-md-12">
            <div class="mu-latest-course-single">
                <figure class="mu-latest-course-img">
                    <a href="#"><img src="@MediaContentExtensions.ResolveThumbnailUrl((Image)Model.Item.Fields.banner.DataItem, "750_500", true, null)" alt="@Model.Item.Fields.banner.Fields.AlternativeText "></a>
                    <figcaption class="mu-latest-course-imgcaption">
                        @if (Model.Item.GetFlatTaxon("coursecategories") != null)
                        {
                            <a href="#">@Model.Item.GetFlatTaxon("coursecategories").Title.ToString()</a>
                        }
                        @if (Model.Item.Fields.remaindate != null)
                        {
                            <span><i class="fa fa-clock-o"></i>@string.Format("{0}{1}", Model.Item.Fields.remaindate, Html.Resource("UnitDay", "CourseResources"))</span>
                        }
                    </figcaption>
                </figure>
                <div class="mu-latest-course-single-content">
                    <h2><a href="#">@Model.Item.Fields.title</a></h2>
                    <h4>@Html.Resource("CourseInformation", "CourseResources")</h4>
                    <ul>
                        <li> <span>@Html.Resource("CoursePrice", "CourseResources")</span> <span>@string.Format("{0}{1}", Html.Resource("UnitPrice", "CourseResources"), Model.Item.Fields.courseprice)</span></li>
                        <li> <span>@Html.Resource("Place", "CourseResources")</span> <span>@string.Join(", ", Model.Item.GetFlatTaxons("places").Select(p => p.Title))</span></li>
                        <li> <span>@Html.Resource("TotalStudents", "CourseResources")</span> <span>@Model.Item.Fields.totalstudents</span></li>
                        <li> <span>@Html.Resource("CourseDuration", "CourseResources")</span> <span>@string.Format("{0} {1}", Model.Item.Fields.courseduration, Html.Resource("UnitWeeks", "CourseResources"))</span></li>
                        <li> <span>@Html.Resource("CourseStart", "CourseResources")</span> <span>@Model.Item.GetDateTime("coursestart", "MMM dd, yyyy")</span></li>
                    </ul>
                    <h4>@Html.Resource("Description", "CourseResources")</h4>
                    @Html.Raw(Model.Item.Fields.description)
                    @if (Model.Item.ChildItems("Courseoutlines") != null && Model.Item.ChildItems("Courseoutlines").Any())
                    {
                        var counter = 1;
                        <h4>@Html.Resource("CourseOutline", "CourseResources")</h4>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th> @Html.Resource("CourseOutlineTitle", "CourseResources") </th>
                                        <th> @Html.Resource("CourseOutlineTime", "CourseResources") </th>
                                        <th> @Html.Resource("CourseOutlineSpentTime", "CourseResources") </th>
                                        <th> @Html.Resource("CourseOutlineStatus", "CourseResources") </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var courseItem in Model.Item.ChildItems("Courseoutlines"))
                                    {
                                        <tr>
                                            <td> @counter. @courseItem.Fields.title </td>
                                            <td> @courseItem.Fields.coursetime </td>
                                            <td> @courseItem.Fields.spenttime </td>
                                            <td> @courseItem.GetFlatTaxon("courseoutlinestatuses").Title </td>
                                        </tr>
                                        counter++;
                                    }
                                </tbody>
                            </table>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>


@if (Model.Item.RelatedItems("relatedcourses") != null && Model.Item.RelatedItems("relatedcourses").Any())
{
    <div class="row">
        <div class="col-md-12">
            <div class="mu-related-item">
                <h3>@Html.Resource("RelatedCourses", "CourseResources")</h3>
                <div class="mu-related-item-area">
                    <div id="mu-related-item-slide">
                        @foreach (var relatedItem in Model.Item.RelatedItems("relatedcourses"))
                        {
                            var thumbnailUrl = MediaContentExtensions.ResolveThumbnailUrl((Image)relatedItem.Fields.banner.DataItem, "750_500", true, null);
                            <div class="col-md-6">
                                <div class="mu-latest-course-single">
                                    <figure class="mu-latest-course-img">
                                        <a href="@relatedItem.DefaultUrl"><img src="@thumbnailUrl"></a>
                                        <figcaption class="mu-latest-course-imgcaption">
                                            @if (relatedItem.GetFlatTaxon("coursecategories") != null)
                                            {
                                                <a href="#">@relatedItem.GetFlatTaxon("coursecategories").Title.ToString() </a>
                                            }
                                            @if (relatedItem.Fields.remaindate != null)
                                            {
                                                <span><i class="fa fa-clock-o"></i>@string.Format("{0}{1}", relatedItem.Fields.remaindate, Html.Resource("UnitDay", "CourseResources"))</span>
                                            }
                                        </figcaption>
                                    </figure>
                                    <div class="mu-latest-course-single-content">
                                        <h4><a href="@relatedItem.DefaultUrl">@relatedItem.Fields.title</a></h4>
                                        <p>@relatedItem.Fields.summary</p>
                                        <div class="mu-latest-course-single-contbottom">
                                            <a class="mu-course-details" href="@relatedItem.DefaultUrl">@Html.Resource("CourseDetail", "CourseResources")</a>
                                            @if (relatedItem.Fields.courseprice != null)
                                            {
                                                <span class="mu-course-price" href="#">@string.Format("{0}{1}", Html.Resource("UnitPrice", "CourseResources"), relatedItem.Fields.courseprice)</span>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}