﻿@using System.Web.Mvc;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Modules.Pages;
@using Telerik.Sitefinity.UI.MVC;
@using Telerik.Sitefinity.Services;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Varsity</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="~/ResourcePackages/HanDoan/assets/img/favicon.ico" type="image/x-icon">
    @Html.Section("head")

    @if (!SystemManager.IsDesignMode || SystemManager.IsPreviewMode)
    {
        @Html.StyleSheet(Url.Content("~/ResourcePackages/HanDoan/assets/css/font-awesome.css"), "head")
        @Html.StyleSheet(Url.Content("~/ResourcePackages/HanDoan/assets/css/bootstrap.css"), "head")
        @Html.StyleSheet(Url.Content("~/ResourcePackages/HanDoan/assets/css/theme-color/default-theme.css"), "head")
        @Html.StyleSheet(Url.Content("~/ResourcePackages/HanDoan/assets/css/slick.css"), "head")
        @Html.StyleSheet(Url.Content("~/ResourcePackages/HanDoan/assets/css/style.css"), "head")
        @Html.StyleSheet(Url.Content("~/ResourcePackages/HanDoan/assets/css/main.css"), "head")
        @Html.StyleSheet(Url.Content("~/ResourcePackages/HanDoan/assets/css/bootstrap-datetimepicker.css"), "head")
    }
    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,400italic,300,300italic,500,700' rel='stylesheet' type='text/css'>


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
    <!--START SCROLL TOP BUTTON -->
    <a class="scrollToTop" href="#">
        <i class="fa fa-angle-up"></i>
    </a>
    <!-- END SCROLL TOP BUTTON -->
    <!-- Start header  -->
    <header id="mu-header">
        @Html.SfPlaceHolder("Header")
    </header>
    <!-- End header  -->
    @Html.SfPlaceHolder("Body")
    <!-- Start footer -->
    <footer id="mu-footer">
        @Html.SfPlaceHolder("Footer")
    </footer>
    <!-- End footer -->

    @Html.Section("bottom")
    @if (!SystemManager.IsDesignMode || SystemManager.IsPreviewMode)
    {
        @Html.Script(Url.Content("~/ResourcePackages/HanDoan/assets/js/jquery.min.js"), "bottom")
        @Html.Script(Url.Content("~/ResourcePackages/HanDoan/assets/js/bootstrap.js"), "bottom")
        @Html.Script(Url.Content("~/ResourcePackages/HanDoan/assets/js/slick.js"), "bottom")
        @Html.Script(Url.Content("~/ResourcePackages/HanDoan/assets/js/waypoints.js"), "bottom")
        @Html.Script(Url.Content("~/ResourcePackages/HanDoan/assets/js/jquery.counterup.js"), "bottom")
        @Html.Script(Url.Content("~/ResourcePackages/HanDoan/assets/js/custom.js"), "bottom")
        @Html.Script(Url.Content("~/ResourcePackages/HanDoan/assets/js/main.js"), "bottom")
        @Html.Script(Url.Content("~/ResourcePackages/HanDoan/assets/js/moment.js"), "bottom")
        @Html.Script(Url.Content("~/ResourcePackages/HanDoan/assets/js/bootstrap-datetimepicker.js"), "bottom")
        @Html.Script(Url.Content("~/ResourcePackages/HanDoan/assets/js/sweetalert.min.js"), "bottom")
    }

</body>
</html>