﻿@model Varsity.SitefinityWebApp.Mvc.Models.ContactViewModel
@using Telerik.Sitefinity.UI.MVC;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;

@using (@Html.BeginFormSitefinity("Create", "Contact", FormMethod.Post, new { @class = "contactform" }))
{
    @Html.AntiForgeryToken();
    <p class="comment-form-author">
        <label for="author">Name <span class="required">*</span></label>
        @Html.TextBoxFor(model => model.Name, new { @required="required", @size = 30 })
    </p>
    <p class="comment-form-email">
        <label for="email">Email <span class="required">*</span></label>
        @Html.TextBoxFor(model => model.Email, new { @required = "required", @type = "email"})
    </p>
    <p class="comment-form-url">
        <label for="subject">Subject</label>
        @Html.TextBoxFor(model => model.Subject)
    </p>
    <p class="comment-form-comment">
        <label for="comment">Message</label>
        @Html.TextAreaFor(model => model.Message, new { @required="required", @rows = 8, @cols = 45})
    </p>
    <p class="form-submit">
        <input type="submit" value="Send Message" class="mu-post-btn" name="submit">
    </p>
}